@import "../../../../styles/next.css";

.section0 {
    padding: 70px 15px 20px 15px;
    background: var(--c-primary) none repeat scroll 0 0;
    margin:-60px;
}

.section0 row{
    margin: 0;
}
/**/
/*.title{*/
    /*padding-top: 50px;*/
    /*text-align: left;*/
/*}*/
/**/
/*@media (--s-viewport) {*/
    /*.title{*/
        /*padding-top: 0;*/
        /*text-align: center;*/
    /*}*/
/*}*/

