:root {
  --default-size: 10px;
  /*Extra small screen / phone*/
  --screen-xs-min: 544px;

  /*Small screen / tablet*/
  --screen-sm-min: 768px;

  /*Medium screen / desktop*/
  --screen-md-min: 992px;

  /*Large screen / wide desktop*/
  --screen-lg-min: 1200px;

  --screen-xl-min: 1920px;

  /*So media queries don't overlap when required, provide a maximum*/
  --screen-xs-max: calc(var(--screen-sm-min) - 1);
  --screen-sm-max: calc(var(--screen-md-min) - 1);
  --screen-md-max: calc(var(--screen-lg-min) - 1);
  --screen-lg-max: calc(var(--screen-xl-min) - 1);

  --font-family-primary: "Raleway", sans-serif;
  --font-family-secondary: "Lato", sans-serif;
  --font-family-default: Helvetica, Arial, sans-serif;

  --font-size-base: 13px;
  --font-size-normal: 14px;
  --font-size-large: calc((var(--font-size-base) * 1.25));

  --font-size-extra-large: calc((var(--font-size-base) * 1.35));
  --font-size-small: calc((var(--font-size-base) * 0.85));
  --font-size-extra-small: calc((var(--font-size-base) * 0.85));

  --h1-size-base: 36px;
  --h1-size-extra-large: calc(var(--h1-size-base) * 1.40);

  --header-height: calc(var(--default-size) * 6);
  --header-height-small: calc(var(--default-size) * 4);

  --sideBar-width: 260px;
  --sideBar-closed-width: 70px;
  --footer-height: 50px;
  --horizontal-menu-height: 40px;
  --page-header-height: 90px;
}


