$brand-primary: #47bbf9 !default;

$primary: $brand-primary;


// Red
$red: #C82E29;
$lightRed: lighten($red, 10%);
$darkRed: darken($red, 10%);
// Orange
$orange: #F18636;
$lightOrange: lighten($orange, 10%);
$darkOrange: darken($orange, 10%);
// Green
$green: #5A8770;
$lightGreen: lighten($green, 10%);
$darkGreen: darken($green, 10%);
// Blue
$blue: #407887;
$lightBlue: lighten($blue, 10%);
$darkBlue: darken($blue, 10%);
// Pink
$pink: #F5888D;
$lightPink: lighten($pink, 10%);
$darkPink: darken($pink, 10%);
// Purple
$purple: #9A89B5;
$lightPurple: lighten($purple, 10%);
$darkPurple: darken($purple, 10%);
// Azure
$azure: #5B9BD1;
$lightAzure: lighten($azure, 5%);
$darkAzure: darken($azure, 10%);
// Beige
$beige: #D2BD8E;
$lightBeige: lighten($beige, 5%);
$darkBeige: darken($beige, 10%);
// Grey
$grey: #c8c7cc;
$lightGrey: lighten($grey, 18%);
$darkGrey: darken($grey, 10%);
// Yellow
$yellow: #EEB424;
$lightYellow: lighten($yellow, 10%);
$darkYellow: darken($yellow, 10%);
// Bricky
$bricky: #894550;
$lightBricky: lighten($bricky, 10%);
$darkBricky: darken($bricky, 10%);

$black: #2C2F3B; // Black
$white: #ffffff; // White

$border-default: #c8c7cc !default;


$text-color: #8e8e93 !default;
$text-dark: darken($text-color, 20%) !default;
$text-light: lighten($text-color, 5%) !default;
$link-color: $primary !default;

//$primary-85: transparentize($p
//rimary, 0.15);
//$primary-75: transparentize($primary, 0.25);
//$primary-55: transparentize($primary, 0.45);
//$primary-45: transparentize($primary, 0.55);
//$primary-20: transparentize($primary, 0.80);
//
//$secondary: $brand-color-secondary;
//$secondary-75: transparentize($secondary, 0.25);
//$secondary-40: transparentize($secondary, 0.60);
