/* ---------------------------------------------------------------------- */
/*  Landing Page
/* ---------------------------------------------------------------------- */
.landing-page {
    .container-fullw {
        position: static;
    }

    .navbar {
        position: fixed !important;
        background: transparent;
        max-height: $header-height;
        min-height: 40px;
        border-radius: 0;

        @media (min-width: $screen-md-min) {
            @include transition(height 0.5s, background 0.5s);
        }

        @media (max-width: $screen-sm-max) {
            height: 40px;
            line-height: 40px;
            background: #91D6FB;
            .navbar-header{
                height: 40px;
                line-height: 40px;
            }
            .navbar-brand {
                height: 40px;
                line-height: 40px;
                img {
                    max-width: 70px !important;
                }
            }
            .navbar-nav {
                > li {
                    > a {
                        line-height: 40px;
                    }
                }

                > li.active {
                    > a {
                        color: $red;
                    }
                }
            }
        }

        .navbar-header {
            position: relative !important;
            background: transparent !important;
            border: none;
            width: auto !important;
            box-shadow: none !important;

            .navbar-brand {
                opacity: 1 !important;
                top: 0 !important;

                @media (min-width: $screen-md-min) {
                    @include transition(all 0.5s);

                    img {
                        @include transition(all 0.5s);
                        max-width: 200px;
                    }
                }
            }

            @media (max-width: $screen-xs-max) {
                text-align: center;

                .navbar-brand {
                    float: none;
                }
            }
        }

        .navbar-toggle {
            height: auto !important;
            border: none;
            line-height: normal !important;
            position: absolute;
            left: 15px;
            top: 12px;
            margin: 0;
            padding: 0;
            color: white;
            &:hover {
                background: none;
                color: red;
            }
        }

        .navbar-collapse {
            position: relative !important;
            background: transparent !important;
            border: none !important;
            box-shadow: none !important;

            //height: 40px !important;
            @media (min-width: $screen-sm-min) {
                margin: 0;
            }

            &.collapsing {
                .navbar-right {
                    background: #91D6FB;
                }
            }

            @media (max-width: $screen-xs-max) {

                &.collapse {
                    .navbar-right {
                        background: #91D6FB;
                    }
                }

                li {
                    > a {
                        background: transparent !important;
                        color: #58748b !important;
                        &:hover {
                            color: red !important;
                        }
                    }
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
                }
            }

            .nav {
                margin: 0 !important;

                li {
                    &.active {
                        > a {
                            background: transparent !important;
                            color: #fff;
                        }
                    }

                    > a {
                        color: #fff;
                        position: relative;
                        text-transform: uppercase;
                        @include transition(all 0.5s);
                        padding: 0 5px !important;
                        font-size: 12px;

                        &:hover {
                            color: #fff;
                        }

                        &.active {
                            &:before {
                                content: " ";
                                position: absolute;
                                height: 3px;
                                left: 0;
                                top: 0;
                                right: 0;
                                background: $red;
                            }
                        }
                    }
                }
            }

            @media (max-width: $screen-sm-max) {
                padding: 0 !important;
            }

            @media (max-width: $screen-xs-max) {
                //background: rgba(255, 255, 255, 0.4);

                .nav {
                    margin: 0;

                    > li {
                        padding: 0;

                        > a {
                            &.active {
                                &:before {
                                    top: auto;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.affix {
            //@media (min-width: $screen-md-min) {
            background: #91D6FB;
            height: 40px;
            line-height: 40px;
            .navbar-header{
                height: 40px;
                line-height: 40px;
            }
            .navbar-brand {
                height: 40px;
                line-height: 40px;

                img {
                    max-width: 70px !important;
                }
            }

            .navbar-nav {
                > li {
                    > a {
                        line-height: 40px;
                    }
                }

                > li.active {
                    > a {
                        color: $red;
                    }
                }
            }
        }
    }
}
